<div>    
    <div class="card border-primary mx-auto my-5 " style="max-width: 18rem;">
      <div class="card-header"><h6>Login</h6></div>
      <div class="card-body text-dark" id="cuerpo">
        <div class="form-group">
            <h5>Correo Electrónico</h5>
            <input type="email" class="form-control" placeholder="Ingresa email">
            <small id="emailHelp" class="form-text text-muted">Tu información se venderá al mejor postor</small>
          </div>
          <div class="form-group">
            <h5 for="exampleInputPassword1">Contraseña</h5>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="text-center mx-auto">
              <button class="btn btn-primary" (click) = "go()">Ingresar</button>
          </div>
          
      </div>
      <div class="text-center mx-auto">
          <img src="../../assets/img/logo.png" alt="" class="text-center w-75">
      </div>
    </div>
    
</div>
