<ng-container  *ngIf="state == 'altas'">
    <div class="card border-primary mx-auto my-5 " style="max-width: 18rem;">
        <div class="card-header"><h6>Nuevo Cliente</h6></div>
        <div class="card-body text-dark" id="cuerpo">
          <form class="form-group" [formGroup]="equipo" (ngSubmit)="onSubmit(equipo.value)" >
              <h5>ID</h5>
              <input type="text" class="form-control" placeholder="" formControlName="id">

              <h5 for="exampleInputPassword1">Tipo</h5>
              <select class="form-control" formControlName="tipo">
                <option value="P">P</option>
                <option value="L">L</option>
                <option value="S">S</option>
              </select>              
            
              <h5 for="exampleInputPassword1">Costo</h5>
              <input type="number" class="form-control"  formControlName="costo">                        
            
              <h5 for="exampleInputPassword1">Marca</h5>
              <input type="text" class="form-control" formControlName="marca">

              <div class="text-center mx-auto">
                <input type="submit" class="btn btn-primary" value="registrar">
              </div>
            </form>
            
        </div>
        <div class="text-center mx-auto">
            <img src="../../assets/img/logo.png" alt="" class="text-center w-75">
        </div>
      </div>
</ng-container>
<ng-container  *ngIf="state == 'bajas'">
    <div class="p-5">
        <table class = "table table-sm table-dark text-white">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Costo</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tr *ngFor="let item of this.list" >
                <td>{{item.tipo}}</td>
                <td>{{item.costo}}</td>
                <td>{{item.marca}}</td>
                <td><Button class="btn btn-warning" (click)="onDelete(item.id)">Eliminar</Button></td>
            </tr>
        </table>
    </div>
</ng-container>
<ng-container  *ngIf="state == 'cambios'">
    <div *ngFor="let item of this.list">
        <form class="form-group text-white p-5" [formGroup]="equipoUpdate" (ngSubmit)="onSubmit2(item.id,equipoUpdate.value)" >
     
              <h5 for="exampleInputPassword1">Tipo - {{item.tipo}}</h5>
              <select class="form-control" formControlName="tipo">
                <option value="p">p</option>
                <option value="l">l</option>
                <option value="s">s</option>
              </select>              
            
              <h5 for="exampleInputPassword1">Costo {{item.costo}}</h5>
              <input type="number" class="form-control"  formControlName="costo">                        
            
              <h5 for="exampleInputPassword1">Marca - {{item.marca}}</h5>
              <input type="text" class="form-control" formControlName="marca">

            <div class="text-center mx-auto">
              <input type="submit" class="btn btn-primary" value="registrar">
            </div>
          </form>        
    </div>
</ng-container>

